/* Variables */
:root {
  --basic-black: #000000;
  --basic-dark: #333333;
  --basic-darken-gray: #666666;
  --basic-gray: #CACACA;
  --basic-darken-light-gray: #E5E5E5;
  --basic-light-gray: #EEEEEE;
  --basic-lighten-gray: #F2F2F2;
  --basic-white: #FFFFFF;
  --basic-sky-blue: #81B3D2;
  --basic-brown: #766357;

  --specal-sky-blue: #669EC0;
  --specal-darken-sky-blue: #5496BD;
  --special-brown: #604E43;
  --special-darken-brown: #503E33;
  --special-white: rgba(255, 255, 255, 0.3);
  --special-darken-white: rgba(255, 255, 255, 0.9);
  --special-black: rgba(0, 0, 0, 0.3);

  --page-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
  --header-height: 56px;
}


/* Global */
.page {
  background-color: var(--basic-lighten-gray);
  height: 100%;
}

.page-body {
  min-width: 1200px;
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-dark);
  text-transform: uppercase;
  background-color: var(--basic-white);
  box-shadow: var(--page-shadow);

  width: 1200px;
  min-height: 100%;
  display: grid;
  grid-template-rows: var(--header-height) auto 120px;
  align-content: start;
}

.page-body h3,
.caption {
  padding: 0;
  margin: 0;
  color: var(--basic-black);
  font-size: 21px;
  font-weight: 700;
}

.caption {
  line-height: 26px;
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}

.hidden {
  display: none;
}

.content-wrapper {
  display: grid;
}

.index-wrapper {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}


/* Main header */
.main-header {
  display: grid;
  grid-template-areas: "h";
}

.main-navigation {
  max-height: var(--header-height);
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  background-color: transparent;

  grid-area: h;
  display: flex;
}

.main-header-logo {
  grid-area: h;
  justify-self: center;
  z-index: 1;
}

.site-navigation {
  width: 100%;
  margin: 0;
  padding: 0 73px;
  list-style: none;

  /*
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: var(--header-height);
  grid-template-areas: "a b . c d";
  align-items: center;
  justify-items: center;
  */

  display: flex;
  justify-content: center;
  align-items: center;
}

.site-navigation li {
  flex-basis: 127px;
}

.navigation-info {
  grid-area: a;
  margin-right: 100px;
}

.navigation-photo {
  grid-area: b;
  margin-right: auto;
}

.navigation-map {
  grid-area: c;
  margin-left: auto;
  text-align: end;
}

.navigation-hotels {
  grid-area: d;
  margin-left: 100px;
  text-align: end;
}

.site-navigation a:hover {
  color: var(--basic-sky-blue);
}

.site-navigation a:active {
  color: var(--special-black);
}

.current-page a,
.current-page a:hover {
  color: var(--basic-brown);
}


/* Greeting */
.greeting {
  display: grid;
  grid-template-columns: 1200px;
  grid-template-rows: 509px 216px;
  text-align: center;
}

.banner {
  width: 1200px;
  height: 509px;
  background-color: var(--basic-white);
  background-image: url("../img/mask.svg"), url("../img/banner.jpg");
  background-position: bottom;
  background-repeat: no-repeat;

  align-self: center;
  display: flex;
}

.banner img {
  margin: auto;
}

.greeting-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.greeting-text p {
  margin-top: 0;
}

.greeting-text .caption {
  margin-bottom: 49px;
}


/* Features */
.features {
  display: grid;
  grid-template-rows: min-content 330px min-content 256px;
}

.features-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.feature-wrapper {
  color: var(--basic-white);
  background-color: var(--basic-sky-blue);
}

.feature-wrapper h3 {
  color: var(--basic-white);
}

.feature-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature-container h3 {
  max-width: 151px;
}
.feature-container p {
  max-width: 302px;
}

.offers-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.feature-image {
  grid-column: span 2;
}

.offer-item {
  margin: 61px 50px 82px;
  text-align: center;
  background-color: transparent;
  background-position: center 0;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.offer-housing {
  background-image: url("../img/icon-house.svg");
}

.offer-gifts {
  background-image: url("../img/icon-gift.svg");
}

.offer-food {
  background-image: url("../img/icon-food.svg");
}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: var(--basic-light-gray);
}


/* Booking */
.booking {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.booking p {
  margin-top: 0;
  margin-bottom: 51px;
}

.booking .booking-caption {
  margin-top: 58px;
  margin-bottom: 39px;
  font-size: 30px;
  font-weight: 700;
}


.booking .booking-button {
  width: 568px;
  height: 86px;
  margin: auto;
}


/* Button */
.button {
  font: inherit;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: var(--basic-white);
  border: none;
}

.button:active {
  color: var(--special-white);
}

.booking-button {
  background-color: var(--basic-brown);
}

.booking-button:hover {
  background-color: var(--special-brown);
}

.booking-button:active {
  background-color: var(--special-darken-brown);
}

.button-link {
  background-color: var(--basic-sky-blue);
}

.button-link:hover {
  background-color: var(--specal-sky-blue);
}

.button-link:active {
  background-color: var(--specal-darken-sky-blue);
}

.button-filter {
  background-color: transparent;
  border: 2px solid var(--basic-white);
}

.button-filter:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}


/* Filter */
.filter {
  color: var(--basic-white);
  background-color: var(--basic-sky-blue);
  background-image: url("../img/filter-background.jpg");
}

.filter h3 {
  color: inherit;
  margin: 0 0 24px;
}

.filter-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  grid-template-rows: 217px;
  grid-template-areas: "ch ch . sl";
}

.filter-container {
  display: grid;
  grid-template-rows: repeat(4, max-content);
  justify-content: center;
  align-content: center;
}

.filter-container label {
  margin: 0 0 23px;
}

.price {
  grid-area: sl;
}

/* Hotels */
.hotels {
  display: grid;
}

.sort-container {
  padding: 29px 73px 31px;
  border-bottom: 1px solid var(--basic-darken-light-gray);

  display: grid;
  grid-template-columns: max-content min-content min-content 1fr max-content max-content;
  grid-template-rows: min-content;
  justify-items: center;
  align-items: center;
}

.sort-caption {
  font-size: 12px;
  line-height: 18px;
  margin-left: 46px;
}

.sort-list {
  list-style: none;
  font-size: 12px;
  line-height: 18px;
  margin: 0;

  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 23px;
}

.sort-item a {
  color: var(--special-black);
  border-bottom: 1px dashed var(--basic-sky-blue);
}

.sort-item a:hover {
  color: var(--basic-sky-blue);
}

.sort-item a:active {
  color: var(--basic-black);
  border-bottom: none;
}

.sort-item-active a {
  color: var(--basic-sky-blue);
  border-bottom: none;
}

.button-sort {
  background: none;
  border: none;
}

.sort-up {
  grid-column: -3 / -2;
}

.sort-down {
  transform: rotate(180deg);
  grid-column: -2 / -1;
}

.hotel-container {
  padding: 30px 73px;
  border-bottom: 1px solid var(--basic-darken-light-gray);

  display: grid;
  grid-template-columns: max-content max-content max-content 1fr max-content;
  grid-template-rows: max-content max-content max-content;
  gap: 6px;
}

.hotel-preview {
  grid-row: 1 / 4;
  grid-column: 1 / 2;
  margin-right: 23px;
}

.hotel-name {
  grid-column: 2 / 4;
}

.hotel-type {
  grid-area: 2 / 2 / 3 / 3;
}

.hotel-price {
  grid-area: 2 / 3 / 3 / 4;
}

.hotel-container .button-link {
  grid-area: 3 / 2 / 4 / 3;
}

.hotel-container .booking-button {
  grid-area: 3 / 3 / 4 / 4;
}

.rating-stars {
  grid-column-start: -2;
  justify-self: right;
}

.rating {
  color: var(--basic-darken-gray);
  background-color: var(--basic-lighten-gray);

  grid-area: -2 / -2 / -1 / -1;
  justify-self: right;
}


/* Main footer */
.main-footer {
  background-color: var(--special-darken-white);

  grid-column: 1 / 2;
  grid-row: 3 / 4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-contacts {
  align-self: center;
  text-align: center;
}

.footer-social {
  align-self: center;
  text-align: center;
}

.social {
  list-style: none;
}

.footer-copyright {
  align-self: center;
  text-align: center;
}

